$primary-color: #fafafa;
$secondary-color: hsla(0, 0%, 53%, 0.878);
$terciary-color:hsl(215, 88%, 76%);
$black-color: rgba(0,0,0,0.8);
$highlight: #66a6ff;
$highlight2:#71abfc;
$font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-text: 'Sen', sans-serif;
$bg-color: rgba(255, 255, 255, 0.9);
$box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: .8rem;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background: $highlight;
    border-radius: 5px;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: $font-title;
}
body::selection{
    background-color: $secondary-color;
    color: $primary-color;
}
a{
    display: block;
    text-decoration: none;
}

body{
    font-family: $font-title;
    background-color: $bg-color;
}

header{
    width: 100%;
    background: $bg-color;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 0.2px solid rgba(212, 212, 212, 0.575);
    box-shadow: $box-shadow;

    nav{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 6rem;

        ul{
            height: 100%;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.3rem;

            li{
                padding-bottom: 0.3rem;
                font-size: 1.3rem;               
                cursor: pointer;
                list-style: none;;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
                    a{
                        color: $secondary-color;
                        transition: 0.6s ease;
                            &:hover{
                                color: $highlight;
                        }
                    }
            }
        }
    }
}



.logo{
    width: 15rem;
    margin-right: 4rem;
    &--bag{
        margin: 0 auto;
        width: 1.4rem;
    }
    &--search{
        margin: 0 auto;
        width: 1.4rem;
    }
    
}

.toggle-menu{
    display: none;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width:4rem;

    &__line{
            display: block;
            width: 2.5rem;
            height: 0.3rem;
            margin: 0.5rem auto;
            transition: all 0.3s ease-in-out;
            background-color: $highlight;
            border-radius: 2rem;
            right: 30%;
    }
}

/*---------------SLIDER--------------*/

.container-slider{
    padding: 0;
    width: 80%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    margin: 7rem auto;
}

.slider{
    display: flex;
    width: 500%;
    height: 400px;
    margin-left: -100%;

    &__section{
        width: 50%;
    }

    &__img{
        margin: 0 auto;
        display: block;
        height: 100%;
        max-width: 100%;
    }

    &__btn{
        font-size: 4rem;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        color: $highlight2;
        opacity: .5;
        transition: opacity .3s ease-in-out;

        &:hover{
            opacity: 1;
            color: $highlight2;
        }
        
        &--left{
            left: 2%;
        }

        &--right{
            right: 2%;
            
        }
    }
}

.tuestilo{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(to right, #2980B9, #b0d4fa);
    background-clip: text;
    color: transparent;

}

.tuestilo h1::before{
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 12%;
    left: 0%;
    min-width: 25%;
    height: 2px;
    background-color:rgba(170, 169, 169, 0.5);

}
.tuestilo h1::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 12%;
    min-width: 25%;
    height: 2px;
    right: 0%;
    background-color: rgba(170, 169, 169, 0.5);
}





.footer{
    .footer__menu{
        width: 100%;
        height: 20rem;
        background-color: beige;
        gap: 1rem;
    
        &--siguenos{
            background-color: aquamarine;
            grid-area: siguenos;
        }
        &--links-utiles{
            background-color: orange;
            grid-area: links-utiles;
        }
        &--legal{
            background-color: greenyellow;
            grid-area: legal;
        }
    }
}





@media screen and (max-width:768px){
    .toggle-menu{
        display: block;
    }
    .toggle-menu.active span:nth-child(2){
        opacity: 0;
    }
    .toggle-menu.active span:nth-child(1){
        transform: translateY(0.8rem) rotate(135deg);
    }
    .toggle-menu.active span:nth-child(3){
        transform: translateY(-0.8rem) rotate(-135deg);
    }
    .main-menu.active{
        left: 0;
    }
    .nav{
        width: 80%;
        margin: 0 auto;
    }
    
    .main-menu{
        font-size: 2rem;
        position: fixed;
        left: -100%;
        top: 6rem;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        
        border-bottom: 0.2px solid rgba(212, 212, 212, 0.575);
        width: 100%;
        height: 600%;
        text-align: center;
        transition: .3s;
        z-index: 1000;
        backdrop-filter: saturate(180%) blur(2rem);
        
        &__item{
            line-height: 3rem;
            text-align: center;
            justify-content: center;
            width: 100%;
            height: 3rem;
            
            &:hover{
                background-color: #fafafa;
                color: bisque;
            }
            &:hover::before{
                display: none;
            }
        }
        &__link{
            font-size: 1.5rem;
            color: $secondary-color;
        }
    }


}
