$primary-color: hsl(0, 0%, 98%);
$secondary-color: hsl(0, 0%, 33%);
$terciary-color: hsl(215, 89%, 76%);
$four-color: hsl(211, 88%, 84%);
$black-color: hsla(0, 0%, 0%, 0.8);
$highlight: hsl(215, 100%, 70%);
$highlight2: hsl(215, 96%, 72%);
$bg-color: hsla(0, 0%, 100%, 0.9);
$bg-color2: hsla(0, 0%, 0%, 0.78);
$font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-text: 'Sen', sans-serif;
$box-shadow: 1px 1px 20px 2px rgba(100, 100, 100, 0.1);
$padding-container: 5rem 0;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: $highlight;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: $font-title;
}

body::selection {
    background-color: $secondary-color;
    color: $primary-color;
}

a {
    text-decoration: none;
}

body {
    font-family: $font-title;
    background-color: $bg-color;
}

/*---------------ENCABEZADO--------------*/

header {
    width: 100%;
    background: $bg-color;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 0.2px solid rgba(212, 212, 212, 0.575);
    box-shadow: $box-shadow;

    nav {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 6rem;

        ul {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                height: 100%;
                font-size: 1.4rem;
                cursor: pointer;
                list-style: none;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 0;

                a {
                    display: flex;
                    align-items: center;
                    color: $secondary-color;
                    transition: 0.6s ease;
                    position: relative;
                    height: 6rem;
                    opacity: .6;

                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        right: 0;
                        bottom: 0rem;
                        width: 100%;
                        height: 0.2rem;
                        transform: scale(0);
                        transition: transform .4s ease-in-out;
                        background-color: $highlight;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.main-menu__link:hover::before {
    transform: scale(1);
}

/*---------------LOGO ACCESO MOVIL--------------*/

.logo {
    line-height: 0;
    width: 14rem;
    height: 3.1rem;
    margin-right: 4rem;
    align-items: center;

    &--bag {
        margin: 0 auto;
        width: 1.5rem;

        &:hover::before {
            display: none;
        }
    }

    &--search {
        margin: 0 auto;
        width: 1.5rem;
    }

}

.hidden {
    &:hover::before {
        display: none;
    }
}

/*---------------TOGGLE--------------*/
.toggle-menu {
    display: none;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width: 4rem;

    &__line {
        display: block;
        width: 2.5rem;
        height: 0.3rem;
        margin: 0.5rem auto;
        transition: all 0.3s ease-in-out;
        background-color: $highlight;
        border-radius: 2rem;
        right: 30%;
    }
}

/*---------------SLIDER--------------*/

.container-slider {
    padding: 0;
    width: 80%;
    max-width: 1100px;
    position: relative;
    overflow: hidden;
    margin-top: 7rem;
    margin: 7rem auto 0;
}

.slider {
    display: flex;
    width: 500%;
    height: 400px;
    margin-left: -100%;

    &__section {
        width: 100%;
    }

    &__img {
        margin: 0 auto;
        display: block;
        height: 100%;
        max-width: 100%;
    }

    &__btn {
        font-size: 4rem;
        position: absolute;
        transform: translateY(-50%);
        top: 40%;
        cursor: pointer;
        color: $highlight2;
        opacity: .5;
        transition: opacity .4s ease-in-out;

        &:hover {
            opacity: 1;
            color: $highlight2;
        }

        &--left {
            left: 2%;
        }

        &--right {
            right: 2%;

        }
    }
}


/*---------------TUESTILO--------------*/

.tuestilo {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5rem;
    background: linear-gradient(to right, #2980B9, #b0d4fa);
    background-clip: text;
    color: transparent;
}

.tuestilo h2::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 10%;
    left: 0%;
    min-width: 25%;
    height: 2px;
    background-color: rgba(170, 169, 169, 0.5);
}

.tuestilo h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 10%;
    min-width: 25%;
    height: 2px;
    right: 0%;
    background-color: rgba(170, 169, 169, 0.5);
}

.tuestilo h5 {
    color: #256D85;
}

.margin7 {
    margin-top: 7rem;
    text-transform: uppercase;
    text-align: left;
}

/*----------PAGINA AURICULARES CONTENIDO----------*/


.product-item {
    width: 100%;
    height: 350px;
    border-radius: 2rem;
    background-color: #f6faff;
    overflow: hidden;
    margin-bottom: 2rem;

    &__product1 {
        height: 100%;
        height: 400px;
    }

    &__texts {
        height: 100%;
        width: 50%;
        margin-top: -35rem;
        padding: 4rem 7rem;
    }

    &__picture {
        width: 100%;
        height: 350px;
        background: url(../img/fundas/behar-zenuni-797461-unsplash-scaled.jpg)no-repeat;
        background-size: 550px;
        background-position: right;
    }
}


.product-item2 {
    width: 100%;
    height: 350px;
    border-radius: 2rem;
    background-color: $bg-color2;
    overflow: hidden;
    margin-bottom: 2rem;

    & {
        height: 400px;
    }

    .subtitle {
        color: $primary-color;
    }

    &__paragraph {
        color: $primary-color;
    }

    &__product1 {
        height: 100%;
        height: 400px;
    }

    &__texts {
        text-align: right;
        color: $primary-color;
        height: 100%;
        width: 100%;
        margin-top: -40rem;
        padding: 4rem 7rem;
    }

    &__picture {
        width: 100%;
        height: 450px;
        background: url(../img/fundas/max-simonov-Zxxxrc4a7uY-unsplash.jpg) no-repeat;
        background-size: 850px;
    }
    &__picture3 {
        width: 100%;
        height: 450px;
        background: url(../img/fundas/max-simonov-Zxxxrc4a7uY-unsplash.jpg) no-repeat;
        background-size: 1200px;
    }
}

.auri{
    display: flex;
    justify-content: space-around;
}
.product-auri {
    display: flex;
    width: 48%;
    height: 300px;
    background-color: #dbebfd;
    border-radius: 2rem;
    overflow: hidden;
    margin: 3rem 0;
    &__texts {
        height: 100%;
        width: 100%;
        padding: 4rem 7rem;
    }
}
.product-auri2 {
    display: flex;
    width: 48%;
    height: 300px;
    background-color: #efeff0;
    border-radius: 2rem;
    overflow: hidden;
    margin: 3rem 0;
    &__texts {
        height: 100%;
        width: 100%;
        padding: 4rem 7rem;
    }
}

.subtitle {
    font-size: 3.5rem;
    margin-bottom: 0rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: $padding-container;
    margin-bottom: 0rem;
}

.cta {
    position: relative;
    display: inline-block;
    background-color: $highlight;
    border: 2px solid $highlight;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    font-size: 1.8rem;
    transition: color 0.5s, background 0.5s;

    &:hover {
        color: $highlight;
        background-color: transparent;

    }

    &--dark {
        color: $highlight;
    }
}

.cta.round {
    border-radius: 30px;
}

.listado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;

    img {
        max-width: 100%;
    }

    div {
        border: solid 1px #256D85;
        border-radius: 30px;
        overflow: hidden;
    }
}

/*---------------FOOTER-------------*/

.footer{
    background-color: $bg-color2;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 60px;
    }

    &__title{
        font-size: 3.5rem;
        margin-bottom: 30px;
        background: linear-gradient(to right, #2980B9, #7fb6f1);
        background-clip: text;
        color: transparent;
    }
    &__form{
        top: 50%;
    }
    &__newsletter{
        font-size: 3rem;
        color: $primary-color;
        font-weight: 600;
    }
    &__inputs{
        margin-top: 10px;
        display: flex;
        overflow: hidden;
    }
    
    &__input{
        background-color: #fff;
        height: 50px;
        display: block;
        padding-left: 10px;
        border-radius: 6px;
        font-size: 1rem;
        outline: none;
        border: none;
        margin-right: 16px;
    }
    &__submit{
        margin-left: auto;
        display: inline-block;
        height: 50px;
        padding: 0 20px ;
        background-color: #2091F9;
        border: none;
        font-size: 1.6rem;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
    }
    &__copy{
        --padding-container: 30px 0;
        text-align: center;
        color: #fff;
    }
    &__copyright{
        font-weight: 300;
    }
    &__icons{
        font-size: 4rem;
        padding: 0 2rem;
        margin-bottom: 10px;
        color: $bg-color;

    }
    &__img{
        width: 40px;
    }
}

.nav{
    &--footer{
        padding-bottom: 20px;
        display: grid;
        gap: 1em;
        grid-auto-flow: row;
        height: 100%;
    }
    &__link--footer{
        display: flex;
        margin: 0;
        margin-right: 20px;
        flex-wrap: wrap;
    }
    &__links{
        text-decoration: none;
        color: $primary-color;
        font-size: 1.8rem;
    }
    &__linke{
        gap: 2em;
    }
    
    &__items{
        list-style: none;
    }

}





/*---------------MEDIAQUERYS--------------*/

@media screen and (max-width:900px) {
    .toggle-menu {
        display: block;
    }

    .toggle-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .toggle-menu.active span:nth-child(1) {
        transform: translateY(0.8rem) rotate(135deg);
    }

    .toggle-menu.active span:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-135deg);
    }

    .subtitle {
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    .cta {
        position: relative;
        display: inline-block;
        background-color: $highlight;
        border: 2px solid $highlight;
        justify-self: center;
        color: #fff;
        text-decoration: none;
        padding: 11px 25px;
        font-size: 1.5rem;
        transition: color 0.5s, background 0.5s;
    
        &:hover {
            color: $highlight;
            background-color: transparent;
    
        }
    
        &--dark {
            color: $highlight;
        }
    }
    
    .cta.round {
        border-radius: 30px;
    }

    .main-menu.active {
        left: 0;
    }

    .nav {
        width: 90%;
        margin: 0 auto;
    }


    .main-menu {
        position: fixed;
        left: -120%;
        top: 6.1rem;
        flex-direction: column;
        background-color: $bg-color;
        backdrop-filter: saturate(180%) blur(20px);
        box-shadow: $box-shadow;
        width: 100%;
        height: 32.7rem;
        text-align: left;
        transition: .3s;
        gap: 0;

        &__item {
            font-size: 1.8rem;
            justify-content: left;
            width: 100%;
            line-height: 4rem;
            border-bottom: 0.2px solid rgba(212, 212, 212, 0.575);

            &:hover {
                font-size: 1.8rem;
                background-color: $four-color;
            }
        }
        &__link {
            display: block;
            width: 100%;
            height: 4rem;
            left: 10%;
            color: $secondary-color;
        }
    }



    .main-menu__link {
        &:hover {
            opacity: 0.7;
        }
        &:hover::before {
            display: none;
        }
    }

    .tuestilo h2::before {
        bottom: 12%;
        left: 0%;
        min-width: 15%;
        height: 2px;
        background-color: rgba(170, 169, 169, 0.5);

    }

    .tuestilo h2::after {
        bottom: 12%;
        min-width: 15%;
        height: 2px;
        right: -3%;
        background-color: rgba(170, 169, 169, 0.5);
    }

    .product-item {
        width: 100%;
        height: 350px;
        border-radius: 2rem;
        background-color: #f6faff;
        overflow: hidden;

        &__product1 {
            height: 100%;
        }

        &__texts {
            background-color: #fafbfc3b;
            color: $primary-color;
            height: 80%;
            width: 100%;
            margin-top: -32rem;
            padding: 4rem 7rem;
        }

        &__picture {

            background: url(../img/fundas/behar-zenuni-797461-unsplash-scaled.jpg)no-repeat;
            background-size: 800px 700px;

        }
    }
    .auri{
        display: flex;
        justify-content: space-around;
        gap: 2rem;
    }
    .product-auri {
        display: flex;
        width: 49%;
        height: 300px;
        background-color: #dbebfd;
        border-radius: 2rem;
        overflow: hidden;
        margin: 3rem 0;
        
        &__texts {
            font-size: 1rem;
            height: 100%;
            width: 100%;
            padding: 3rem 3rem;
        }
    }
    .product-auri2 {
        display: flex;
        width: 49%;
        height: 300px;
        background-color: #efeff0;
        border-radius: 2rem;
        overflow: hidden;
        margin: 3rem 0;
        &__texts {
            height: 100%;
            width: 100%;
            padding: 3rem 3rem;
        }
    }
    
    .footer__title{
        font-size: 2rem;
    }
    .footer__newsletter{
        font-size: 1.6rem;
    }
}
