$primary-color: #fafafa;
$secondary-color: hsl(0, 0%, 50%);
$terciary-color:#8cb9f8;
$four-color: #b0d4fa;
$black-color: rgba(0,0,0,0.8);
$highlight: #66a6ff;
$highlight2:#71abfc;
$bg-color: rgba(255, 255, 255, 0.9);
$font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-text: 'Sen', sans-serif;
$box-shadow: 1px 1px 20px 2px rgba(100, 100, 100, 0.1);

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: .8rem;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background: $highlight;
    border-radius: 5px;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: $font-title;
}
body::selection{
    background-color: $secondary-color;
    color: $primary-color;
}
a{
    display: block;
    text-decoration: none;
}

body{
    font-family: $font-title;
    background-color: $bg-color;
}

/*---------------ENCABEZADO--------------*/

header{
    width: 100%;
    background: $bg-color;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 0.2px solid rgba(212, 212, 212, 0.575);
    box-shadow: $box-shadow;


    nav{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 6rem;

        ul{
            height: 100%;
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li{
                height: 100%;
                font-size: 1.4rem;               
                cursor: pointer;
                list-style: none;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
                    a{
                        display: flex;
                        align-items: center;
                        color: $secondary-color;
                        transition: 0.6s ease;
                        position: relative;
                        height: 6rem;

                        &::before{
                            content: "";
                            position: absolute;
                            display: block;
                            right: 0;
                            bottom: 0rem;
                            width: 100%;
                            height: 0.2rem;
                            transform: scaleX(0);
                            transition: transform .4s ease-in-out;
                            background-color: $highlight;
                        }
                        &:hover{
                            opacity: 0.5;
                        }
                    }
            }
        }
    }
}

.main-menu__link:hover::before{
    transform: scaleX(1);
}

/*---------------LOGO ACCESO MOVIL--------------*/

.logo{
    width: 15rem;
    height: 3.1rem;
    margin-right: 4rem;
    align-items: center;
    &--bag{
        margin: 0 auto;
        width: 1.5rem;

        &:hover::before{
            display: none;
        }
    }
    &--search{
        margin: 0 auto;
        width: 1.5rem;
    }
    
}
.hidden{
    &:hover::before{
        display: none;
    }
}

/*---------------TOGGLE--------------*/
.toggle-menu{
    display: none;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    width:4rem;

    &__line{
            display: block;
            width: 2.5rem;
            height: 0.3rem;
            margin: 0.5rem auto;
            transition: all 0.3s ease-in-out;
            background-color: $highlight;
            border-radius: 2rem;
            right: 30%;
    }
}

/*---------------SLIDER--------------*/

.container-slider{
    padding: 0;
    width: 80%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    margin: 7rem auto;
}

.slider{
    display: flex;
    width: 500%;
    height: 400px;
    margin-left: -100%;

    &__section{
        width: 50%;
    }

    &__img{
        margin: 0 auto;
        display: block;
        height: 100%;
        max-width: 100%;
    }

    &__btn{
        font-size: 4rem;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        color: $highlight2;
        opacity: .5;
        transition: opacity .4s ease-in-out;

        &:hover{
            opacity: 1;
            color: $highlight2;
        }
        
        &--left{
            left: 2%;
        }

        &--right{
            right: 2%;
            
        }
    }
}


/*---------------TUESTILO--------------*/

.tuestilo{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(to right, #2980B9, #b0d4fa);
    background-clip: text;
    color: transparent;
}

.tuestilo h2::before{
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    margin: auto;
    bottom: 12%;
    left: 0%;
    min-width: 25%;
    height: 2px;
    background-color:rgba(170, 169, 169, 0.5);

}
.tuestilo h2::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 12%;
    min-width: 25%;
    height: 2px;
    right: 0%;
    background-color: rgba(170, 169, 169, 0.5);
}



/*---------------FOOTER-------------*/

.footer{
    &__menu{
        width: 100%;
        height: 20rem;
        background-color: beige;
        gap: 1rem;
    
        &--siguenos{
            background-color: aquamarine;
            grid-area: siguenos;
        }
        &--links-utiles{
            background-color: orange;
            grid-area: links-utiles;
        }
        &--legal{
            background-color: greenyellow;
            grid-area: legal;
        }
    }
}



/*---------------MEDIAQUERYS--------------*/

@media screen and (max-width:850px){
    .toggle-menu{
        display: block;
    }
    .toggle-menu.active span:nth-child(2){
        opacity: 0;
    }
    .toggle-menu.active span:nth-child(1){
        transform: translateY(0.8rem) rotate(135deg);
    }
    .toggle-menu.active span:nth-child(3){
        transform: translateY(-0.8rem) rotate(-135deg);
    }
    .main-menu.active{
        left: 0;
    }
    .nav{
        width: 80%;
        margin: 0 auto;
    }


    .main-menu{
        position: fixed;
        left: -120%;
        top: 6.1rem;
        flex-direction: column;
        background-color: $bg-color;
        backdrop-filter: saturate(180%) blur(20px);
        box-shadow: $box-shadow;
        width: 100%;
        height: 32.7rem;
        text-align: left;
        transition: .3s;
        gap: 0;
        
        &__item{
            font-size: 1.8rem;
            justify-content: left;
            width: 100%;
            line-height: 4rem;
            
            border-bottom: 0.2px solid rgba(212, 212, 212, 0.575);
            &:hover{
                font-size: 1.8rem;
                background-color: $four-color;
            }

        }
        &__link{
            display: block;
            width: 100%;
            height: 4rem;
            left: 10%;
            color: $secondary-color;
        }
    }



.main-menu__link{

    &:hover{
        opacity: 0.7;

    }
    &:hover::before{
        display: none;
    }
}

    .tuestilo h2::before{
        bottom: 12%;
        left: 0%;
        min-width: 15%;
        height: 2px;
        background-color:rgba(170, 169, 169, 0.5);
    
    }
    .tuestilo h2::after{
        bottom: 12%;
        min-width: 15%;
        height: 2px;
        right: -3%;
        background-color: rgba(170, 169, 169, 0.5);
    }
}
